*.pyc
/conf/general.yml
/conf/general.yml.deployed
/conf/httpd.conf
/conf/httpd.conf.deployed
/web/down.html
/data
/MANIFEST
/dist
*~
/.coverage
/.env

.sass-cache
/mapit/static/mapit/css
/staticfiles

# This is the name that the install notes suggest be used for the virtualenv
.venv
